<?xml version="1.0" encoding="utf-8"?>
<manifest>


 <!--    <application android:name="com.youapps.spm.ui.base.TestApplication">
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />
    </application>-->
</manifest>